@media(max-width:1200px){
    .description p{
        margin: 43px 12px 20px 18px;
    }
    .btn{
        margin: 0px 0px 0px 19px;
    }
  
    
}


@media(max-width:1065px){
    .description{
display: block;
    }
    .description p{
        margin: 35px 3px 18px 3px;
    }

}

@media(max-width:945px){
    .description p{
        margin: 46px 19px 0px 1px;
    }
    .description {
        display: flex;
    }
    .skillImages {
        width: 100px;
        height: fit-content;
    }

}
@media(max-width:884px){
    #for_AlignmentInResponsivensee{
        top: 194px !important;
    }
    .forResp{
            position: relative;
            top: 52px;
            -webkit-background-clip: text;
            /* -webkit-text-fill-color: transparent; */
    }
    .secAbout {
        top: 280px;
    }
}

@media(max-width:845px){
    .btn {
        width: 136px;
        font-size: .8rem;
        padding: 10px 1px 10px 13px;
    }
    ul{
        display: none;
    }
    .content p {
        width: 67%;
    }
    .secondChildContainer {
        width: 80%;
        margin: 22px 0px 0px 0px;
    }
    .secondContainer {
        flex-direction: column-reverse;
        align-items: center;
    }
}

@media(max-width:740px){
    #for_AlignmentInResponsivensee {
        top: 470px !important;
    width: 100%;
    }
    .secondChildContainer {
        width: 98%;
    }
    .forResp {
        top: 331px;
    }
    .portfolioContainer {
        width: 100%;
        top: 190px;
        flex-direction: column; 
        align-items: center;
    }
    .portfolioChild, .portfolioChild2 {
        width: 90%;
        text-align: center;
       
    }
  
    .portfolioContainer2 {
        width: 100%;
        top: 200px;
        flex-direction: column;
        align-items: center;
    }
    .secAbout {
        top: 567px;
    }
    .aboutPara {
        margin: 0px 4% 0px 4%;
        text-align: justify;
        width: 90%
    }
    .footer{
        transform: translate(0%, 1600%);
    }
    .description p {
        width: 100%;
    }

.sharma {
    font-size: 2.4rem;
}
.here {
    font-size: 1rem;
}
*{
    font-size: 16px;
}
.content .title {
    font-size: 0.7rem;
    letter-spacing: 0px;
    margin-bottom: 20px;
    font-weight: bold;
}
.logo {
    max-height: 48px;
}
.skillImages {
    width: 70px;
    position: relative;
    top: 5%;
    left: 42%;
    /* transform: translate(56%, -173%); */
    -webkit-background-clip: text;

}
.description p {
    margin: 108px 0px 0px 0px;
    position: relative;
    top: 4%;
    left: -9%;
}
.skills {
    top: 16%;
    left: 168px;
}
}


@media(max-width:680px){
    #for_Align2{
        position: relative;
        top: 177px;
    }
    .firstContainer {
        z-index: 1;
    }
    
}


@media(max-width:669px){
    .skills {
        top: 37px;
        left: 114px;
    }
    .skillImages {
        /* top: 43%; */
    }
    .description p {
        left: -11%;
    }
    *{
        background: url(images/smallBg2.JPG);
        background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: cover;
    }
}
@media(max-width:550px){
    .skills {
        top: 4%;
        left: 35%;
    }
    #for_Align2{
        position: relative;
        top: 277px;
    }
    
    .skillImages {
        top: 43px;
        left: 37%;
    }
    .description p {
        left: -13%;
    }
    .content p {
        width: 85%;
    }
  
}
@media(max-width:526px){
    #for_Align2{
        position: relative;
        top: 299px;
    } 
}
@media(max-width:503px){
    #for_Align2 {
        top: 294px;
    }
}
@media (max-width: 488px){
#for_Align2 {
    top: 329px;
}
}
@media(max-width:474px){

    .skillImages {
        top: 43px;
        left: 47%;
    }
    .description p {
        left: -5%;
    } 
    .description {
        width: fit-content;
        left: -68px;
        position: relative;
    }
    .description p {
        left: 0%;
    }
    .skills {
            top: 7%;
            z-index: 1;
        }
        .firstContainer h1 {
            top: 17px;
            position: relative;
        }
    }
    @media (max-width: 470px){
    #for_Align2 {
        top: 367px;
    }
}
    @media (max-width: 467px){
    #for_Align2 {
        top: 395px;
    }
}
    @media (max-width: 456px){
    #for_Align2 {
        top: 415px;
    }
}
    @media (max-width: 453px){
    #for_Align2 {
        top: 450px;
    }
}


@media(max-width:440px)
{
    /* .description p {
        left: -8%;
    } */
    .sharma {
        font-size: 2rem;
        margin-left: -11px;
    }
    .here {
        font-size: 0.9rem;
    }
    #for_Align2 {
        top: 473px;
    }
    .skills {
        left: 33%;
    }
}
@media(max-width:431px){
    #for_Align2 {
        top: 527px;
    }
}
@media(max-width:415px){
    #for_Align2 {
        top: 567px;
    }
}
@media(max-width:408px){
    #for_Align2 {
        top: 601px;
    }
}
@media(max-width:402px){
    #for_Align2 {
        top: 630px;
    }
}
@media(max-width:390px){
    #for_Align2 {
        top: 706px;
    }
}
@media(max-width:379px){
    #for_Align2 {
        top: 753px;
    }
}
@media(max-width:371px){
    #for_Align2 {
        top: 803px;
    }
}
@media(max-width:364px){
    #for_Align2 {
        top: 835px;
    }
}
@media(max-width:361px){
    #for_Align2 {
        top: 863px;
    }
}
@media(max-width:356px){
    #for_Align2 {
        top: 895px;
    }
}
@media(max-width:355px){
    #for_Align2 {
        top: 1000px;
    }
}
@media(max-width:340px)
{
    .description p {
        left: -9%;
    }
}

@media(max-width:1204px){
    #for_AlignmentInResponsivensee{
        top: 150px;
    }
}
