@media(max-width:1200px){
    .description p{
        margin: 43px 12px 20px 18px;
    }
    .btn{
        margin: 0px 0px 0px 19px;
    }
  
    
}


@media(max-width:1065px){
    .description{
display: block;
    }
    .description p{
        margin: 35px 3px 18px 3px;
    }

}

@media(max-width:945px){
    .description p{
        margin: 46px 19px 0px 1px;
    }
    .description {
        display: flex;
    }
    .skillImages {
        width: 100px;
        height: fit-content;
    }

}
@media(max-width:884px){
    #for_AlignmentInResponsivensee{
        top: 194px !important;
    }
    .forResp{
            position: relative;
            top: 52px;
            -webkit-background-clip: text;
            /* -webkit-text-fill-color: transparent; */
    }
    .secAbout {
        top: 280px;
    }
}

@media(max-width:845px){
    .btn {
        width: 136px;
        font-size: .8rem;
        padding: 10px 1px 10px 13px;
    }
    ul{
        display: none;
    }
    .content p {
        width: 67%;
    }
    .secondChildContainer {
        width: 80%;
        margin: 22px 0px 0px 0px;
    }
    .secondContainer {
        flex-direction: column-reverse;
        align-items: center;
    }
}

@media(max-width:740px){
    #for_AlignmentInResponsivensee {
        top: 470px !important;
    width: 100%;
    }
    .secondChildContainer {
        width: 98%;
    }
    .forResp {
        top: 331px;
    }
    .portfolioContainer {
        width: 100%;
        top: 190px;
        flex-direction: column; 
        align-items: center;
    }
    .portfolioChild, .portfolioChild2 {
        width: 90%;
        text-align: center;
       
    }
  
    .portfolioContainer2 {
        width: 100%;
        top: 200px;
        flex-direction: column;
        align-items: center;
    }
    .secAbout {
        top: 567px;
    }
    .aboutPara {
        margin: 0px 4% 0px 4%;
        text-align: justify;
        width: 90%
    }
    .footer{
        transform: translate(0%, 1600%);
    }
    .description p {
        width: 100%;
    }

.sharma {
    font-size: 2.4rem;
}
.here {
    font-size: 1rem;
}
*{
    font-size: 16px;
}
.content .title {
    font-size: 0.7rem;
    letter-spacing: 0px;
    margin-bottom: 20px;
    font-weight: bold;
}
.logo {
    max-height: 48px;
}
.skillImages {
    width: 70px;
    position: relative;
    top: 5%;
    left: 42%;
    /* transform: translate(56%, -173%); */
    -webkit-background-clip: text;

}
.description p {
    margin: 108px 0px 0px 0px;
    position: relative;
    top: 4%;
    left: -9%;
}
.skills {
    top: 16%;
    left: 168px;
}
}


@media(max-width:680px){
    #for_Align2{
        position: relative;
        top: 177px;
    }
    .firstContainer {
        z-index: 1;
    }
    
}


@media(max-width:669px){
    .skills {
        top: 37px;
        left: 114px;
    }
    .skillImages {
        /* top: 43%; */
    }
    .description p {
        left: -11%;
    }
    *{
        background: linear-gradient(rgba(160, 156, 156, 0.7),rgba(0,0,0,0.9)),url(images/smallBg.JPG);
        background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: cover;
    }
}
@media(max-width:550px){
    .skills {
        top: 7%;
        left: 0%;
        z-index: 1;
    }
    
    .skillImages {
        top: 43px;
        left: 37%;
    }
    .description p {
        left: 2%;
    }
    .content p {
        width: 85%;
    }
    .description {
        display: flex;
        width: 122%;
        left: -140px;
        position: relative;
    }


 
    #for_Align2 {
        position: relative;
        top: 70px;
    }
}
@media(max-width:516px){
    #for_Align2 {
        top: 110px;
    }
   }
@media(max-width:484px){
    #for_Align2 {
        top: 140px;
    }
    .description p {
        left: 3%;
    }
   }
@media(max-width:476px){
    #for_Align2 {
        top: 160px;
    }
   }
@media(max-width:454px){
    #for_Align2 {
        top: 190px;
    }
   }
@media(max-width:451px){
    #for_Align2 {
        top: 210px;
    }
    .description p {
        left: 4%;
    }
   }










@media(max-width:474px){

    .skillImages {
        top: 43px;
        left: 47%;
    }

    .skills {
            z-index: 1;
        }
        .firstContainer h1 {
            top: 17px;
            position: relative;
        }
    }




@media(max-width:440px)
{
    /* .description p {
        left: -8%;
    } */
    .sharma {
        font-size: 2rem;
        margin-left: -11px;
    }
    .here {
        font-size: 0.9rem;
    }
}
@media(max-width:431px){
    #for_Align2 {
        top: 301px;
    }
    .description p {
        left: 6%;
    }
}
@media (max-width: 421px){
    #for_Align2 {
        top: 330px;
    }
}


@media(max-width:386px){
    #for_Align2 {
        top: 400px;
    }
}
@media(max-width:372px){
    #for_Align2 {
        top: 430px;
    }
}



@media(max-width:361px){
    #for_Align2 {
        top: 486px;
    }
    .description p {
        left: 7%;
    }
}
@media(max-width:354px){
    #for_Align2 {
        top: 499px;
    }
    .description p {
        left: 9%;
    }
}
@media(max-width:341px){
    #for_Align2 {
        top: 520px;
    }
}
@media(max-width:341px){
    #for_Align2 {
        top: 560px;
    }
}

@media(max-width:337px){
    #for_Align2 {
        top: 579px;
    }
}
@media(max-width:330px){
    #for_Align2 {
        top: 594px;
    }
}
@media(max-width:327px){
    #for_Align2 {
        top: 634px;
    }
}

@media(max-width:321px){
    #for_Align2 {
        top: 699px;
    }
}
@media(max-width:314px){
    #for_Align2 {
        top: 830px;
    }
}



@media(max-width:1204px){
    #for_AlignmentInResponsivensee{
        top: 150px;
    }
}
