@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,600&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,600&family=Ubuntu:wght@300&display=swap');


  @import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Open+Sans:ital,wght@1,600&family=Ubuntu:wght@300&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: linear-gradient(rgba(160, 156, 156, 0.7),rgba(0,0,0,0.9)),url(images/bg1.jpg);
    background-attachment: fixed;
    /* background-position: center; */
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 16px;

   /* -webkit-background-clip: text; */
   /* -webkit-text-fill-color: transparent; */

}



a{
    text-decoration: none;
}
.setImage{
    z-index: 1;
   }

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 22px 57px 65px;
 
  }
  .container_2 h2{
    font-family: lucida;
  }
  .container_2 h3{
    font-family: cursive ;
  }
.logo{
    max-height: 60px;
}
nav ul li{
    list-style: none;
    display: inline-block;
    padding: 10px 20px;
}
nav ul li a{
    color: #fd4766;
    position: relative;
    padding: 5px 0;
}
nav ul li a:hover{
    color:rgb(120, 180, 182);
}
nav ul li a:after{
    content: "";
    position: absolute;
    left: 0;
    width: 0;
    height: 3px;
    background: #fd4766;
    transition: .3s;
    bottom: 0;
}
nav ul li a:hover:after{
    width: 100%;
}
.btn{
    color: #fff;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 16px 40px;
    border-radius: 500px;
    display: inline-block;
    transition: all .4s ease-in-out;
    background-size: 152% 100%;
    background: #fd4766;
    border: 2px solid #fd4766;
    position: relative;
    top: 29px;
}
.btn:hover{
    background: transparent;
    border-color: #fd4766;
    color: #fd4766;
}
.content{
    position:relative ;
}
.content .title{
    color: #1f1f25;
    font-size: 1.1rem;
    text-transform: uppercase;
    letter-spacing: 4px;
    display: inline-block;
    margin-bottom: 20px;
    background: linear-gradient(120deg, #1c99fe 20.69%, #ffbf09 50.19%,#fb002b 79.69%); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.content h1{
    color: #1f1f25;
    font-weight: 900;
    line-height: 90px;
    text-transform: inherit;
    width: 70%;
}
.content h1 span{
    color: #fd4766;
    font-family: cursive;
}
.content p{
    width: 39%;
    color: #757575;
  position: relative;



}


.forAlign{
    position: inherit;
    left: 35px;

   
   }
  
       .here{
           color: rgb(150, 106, 106) !important;
           font-size: 2rem;
           -webkit-background-clip: text;
       }
       .sharma{
        font-size: 4rem;
        -webkit-background-clip: text;
       }
       .makeItSmall a{
        font-size: 1rem;
       }
   /* THE PARENT DIV  */
       .firstContainer{
        width: 100%;
        height:100vh;
        position: relative; 
        top: 40px; 
        display: flex;
        flex-direction: column;

       }
       .firstContainer h1{
        text-align: center;
        color: crimson;
        font-size: 1.5rem;

       }
/* IMAGES OF PROGRAMMIN, WEB DEVELOPMENT, COOKING  */
       .skillImages{
        display: inline;
        width: 105px;
        margin-left: 30px;
        margin-right: 40px;
        margin-bottom: 62px;
        opacity: 82%;
       }
/* THe CHILDREN DIV OF PARENT  */
       .description p{
        display: inline-block;
        width: 80vw;
        font-size: 1rem;
        text-align: justify;
        color: rgb(211, 197, 230);
       }

/* SKILLS NAME  */
       .skills{
        position: relative;
        top: 5%;
        left: 300px;
        width: 145px;
        align-items: center;
        text-align: center;
        color: aqua;
       }

/* CSS of "Meet Dharmendra Sharma ...." */
.content p{
    color: #edf756;
    font-family:Ubuntu;
    font-style: italic;
}
/* CSS of "Meet Dharmendra Sharma ...." Ended Here */


/* CSS of Services Started here  */
#for_AlignmentInResponsivensee{
    position: relative;
    top: 125px;
}
.secondContainer{
    position: relative;
    border: 3px solid red;
    display: flex;
    justify-content: space-around;
    
}
.web a{
    color: #1f1f25;
    text-transform: uppercase;
    letter-spacing: 2px;
    background: linear-gradient(120deg, #1c99fe 20.69%, #ff44b7 50.19%,#fdeb47 79.69%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
.secondChildContainer{
    border: 4px solid green;
    width: 40%;
    color: rgb(211, 197, 230);
}
 .mHeading{
    text-align: center;
    color: rgb(255, 0, 0);
}
.sHeading{
    text-align: center; 
    color: #1cf6fe;
}

/* CSS of Portfolio Area Started Here  */
.portfolioContainer{
    width: 100%;
    position: relative;
    top: 190px;
    display: flex;
    z-index: 1;
}
.port{
    position: relative;
    top: 170px;
}
.portfolioChild{
    width: 30%;
    text-align: justify;
    border: 1px dotted whitesmoke;
    border-radius: 6%;
    padding: 4px 9px 4px 9px;
    margin: 0px 7px;
    height: fit-content;
    z-index: 1;
    color: rgb(190, 149, 243);

}
.portfolioChild :hover{
  color: #73bec4;
}

.portfolioContainer2{
    width: 100%;
display: flex;
    position:relative;
    top: 200px;
    z-index: 0;
  
}
.portfolioChild2{
    width: 30%;
    text-align: justify;
    border: 1px dotted whitesmoke;
    border-radius: 6%;
    padding: 4px 9px 4px 9px;
    margin: 0px 7px;
    height: fit-content;
    color: rgb(213, 185, 250);

}
/* CSS of Portfolio Area Ended Here  */



/* CSS of ABout Me Started Here  */
.secAbout {
position: relative;
top: 230px;

}
.secAbout h1 {
text-align: center;
margin-bottom: 1%;
}

.aboutPara{
width: 40%;
margin-left: 10%;
color: rgb(211, 197, 230);
}

.footer{
    text-align: center;
    position: relative;
    top: 50%;
    transform: translate(0%, 761%);
    font-size: 12px;
    -webkit-background-clip: text;

}
.footer span{
color: #881125;
    -webkit-background-clip: text;

}

/* CSS of About Me  Ended Here  */


